.barChart {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
  }
  
  .chart {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .barChartResponsive {
    display: flex;
    margin-top: 20px;
  }