<div class="column_binding">
    <div class="colum_part">
      <div class="barChart" *ngIf="barChartData.length > 0">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="true" [chartType]="barChartType" [style.height.%]="50">
          </canvas>
      </div>
    </div>
    <div [style.height.px]="pixel" class="column_grid">
      <div *ngIf="data">
        <igx-grid [data]="data" [autoGenerate]="true">
        </igx-grid>
      </div>
    </div>
  </div>
  
  