<div>
    <br />
    <div [attr.role]="(isHandset$ | async) ?  isResponsive(true) : isResponsive(false)">
      <div class="column">
        <div *ngFor="let indicator of indicators" class="content_row">
          <div *ngIf="indicator.columns.length > 0" [ngClass]="classContent">
            <div *ngFor="let column of indicator.columns" [ngClass]="[column.class, column.rowClass]">
              <div *ngIf="column.Dk">
                <div class="column_header">
                  <div class="title">{{column.nombreindicador}}</div>
                </div>
                <div class="column_content">
                  <div *ngIf="column.progress" class="progressIndicator">
                    <app-spinner [tittle]="false"></app-spinner>
                  </div>
                  <div *ngIf="!column.progress">
                    <div *ngIf="column.error">
                      <p>{{column.error}}</p>
                    </div>
                    <div *ngIf="!column.error" class="grid_indicator">
                      <div *ngIf="column.success">
                        <div [ngSwitch]="column.tipografica">
                          <div *ngSwitchCase="'rejilla'">
                            <div *ngIf="column.success.data">
                              <app-grid-chart [data]="column.success.data">
                              </app-grid-chart>
                            </div>
                          </div>
                          <div *ngSwitchCase="'rotatedAxisLabels'">
                            <div *ngIf="column.success.data">
                              <app-bar-chart [chartType]="'Column'" [data]="column.success.data"
                                [height]="column.heightGridChart" [keys]="column.success.keys" [indicator]="column">
                              </app-bar-chart>
                            </div>
                          </div>
                          <div *ngSwitchCase="'simplePieChart'">
                            <div *ngIf="column.success.data">
                              <app-pie-chart [data]="column.success.data" [indicator]="column"
                                [height]="column.heightGridChart"></app-pie-chart>
                            </div>
                          </div>
                          <div *ngSwitchCase="'stackedBarChart'">
                            <div *ngIf="column.success.data">
                              <app-stack-chart [data]="column.success.data" [indicator]="column"
                                [height]="column.heightGridChart" [keys]="column.success.keys"></app-stack-chart>
                            </div>
                          </div>
                          <div *ngSwitchCase="'chartWithLegend'">
                            <div *ngIf="column.success.data">
                              <app-chart-legend [data]="column.success.data" [indicator]="column"
                                [height]="column.heightGridChart" [keys]="column.success.keys"></app-chart-legend>
                            </div>
                          </div>
                          <div *ngSwitchCase="'dataBinding'">
                            <div *ngIf="column.success.data">
                              <app-data-binding-chart [data]="column.success.data" [indicator]="column"
                                [height]="column.heightGridChart" [keys]="column.success.keys"></app-data-binding-chart>
                            </div>
                          </div>
                          <div *ngSwitchCase="'valor'" class="content_value">
                            <div class="value">
                              <h4>
                                <div class="item_selected">
                                  <span>{{"$"+column.success.data}}</span>
                                </div>
                                <div class="item_selected">
                                  <span>{{column.descripcionindicador}}</span>
                                </div>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!column.Dk">
                <span class="item_selected">No hay datos para mostrar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
