.column {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .row1 {
    height: unset;
    display: flex;
    flex-direction: column;
  }
  
  .row2 {
    height: unset;
    display: flex;
    flex-direction: column;
  }
  
  .row3 {
    height: unset;
    display: flex;
    flex-direction: column;
  }
  
  .row4 {
    height: unset;
    display: flex;
    flex-direction: column;
  }
  
  .row5 {
    height: unset;
    display: flex;
    flex-direction: column;
  }
  
  .row6 {
    height: unset;
    display: flex;
    flex-direction: column;
  }
  
  .indicator {
    flex: 1;
  }
  
  .flex_content {
    padding: 10px;
    background: gainsboro;
    border: 1px solid white;
  }
  
  .content_indicator {
    display: flex;
    flex-direction: row;
  }
  
  .content_indicator_responsive {
    display: flex;
    flex-direction: column;
  }
  
  .column_header {
    display: flex;
    flex-direction: row;
    text-justify: initial;
    word-wrap: break-word;
    padding: 5px;
    color: white;
  }
  
  .column_content {
    display: flex;
    background-color: white;
    flex-direction: column;
  }
  
  .progressIndicator {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    text-align: center;
  }
  
  .grid_indicator {
    flex: 1;
  }
  
  .flex1 {
    flex: 1;
    margin: 1px;
    flex-direction: column;
  }
  
  .flex2 {
    flex: 2;
    margin: 1px;
    flex-direction: column;
  }
  
  .flex3 {
    flex: 3;
     margin: 1px;
    flex-direction: column;
  
  }
  
  .flex4 {
    flex: 4;
    margin: 1px;
    flex-direction: column;
  }
  
  .flex5 {
    flex: 5;
    margin: 1px;
    flex-direction: column;
  }
  
  .flex6 {
    flex: 6;
    margin: 1px;
    flex-direction: column;
  }
  
  .content_value{
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 500px;
  }
  
  
  .label_tab{
    font-size: 30px;
  }
  
  .title{
    width:80%;
    float:left;
  }
  
  