<table class="table">
    <thead>
      <tr>           
        <th scope="col" *ngFor="let head of items[0] | keys">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">           
        <td *ngFor="let list of item | keys">{{item[list]}}</td>
      </tr>
    </tbody>
</table>