<footer class="page-footer bg-info pt-4">
    <section class="container text-center text-md-left">
        <article class="row">
            <section class="col-md-4 col-lg-3 col-xl-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">NOSOTROS</h5>
                <p class="text-light text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ab vitae aliquid?</p>
            </section>
            <hr class="clearfix w-100 d-md-none">
            <section class="col-md-2 col-lg-2 col-xl-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">MAPA DEL SITIO</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a class="footer-menu" href="#!">Home</a>
                        </p>
                    </li>
                    <li>
                        <p [routerLink]="['/characters']">
                            <a class="footer-menu" >1</a>
                        </p>
                    </li>
                    <li>
                        <p [routerLink]="['/contact']">
                            <a class="footer-menu">2</a>
                        </p>
                    </li>
                </ul>
            </section>
            <hr class="clearfix w-100 d-md-none">
            <section class="col-md-2 col-lg-3 col-xl-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
                <ul class="list-unstyled">
                    <li>
                        <p class="text-light">
                            <img class="mr-2" src="assets/icons/home.png" height="18px" alt="home" />Calle Falsa 123
                        </p>
                    </li>
                    <li>
                        <p class="text-light">
                            <img class="mr-2" src="assets/icons/phone.png" height="18px" alt="phone" />+57 999 999 9999
                        </p>
                    </li>
                    <li>
                        <p class="text-light">
                            <img class="mr-2" src="assets/icons/mail.png" height="18px" alt="email" />correo@fake.com
                        </p>
                    </li>
                    <li>
                        <p>

                        </p>
                    </li>
                </ul>
            </section>
            <hr class="clearfix w-100 d-md-none">
            <section class="col-md-3 col-lg-3 col-xl-3 my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-dark text-uppercase mb-4">Siguenos</h5>
                <a class="m-1" type="button">
                    <img src="assets/icons/facebook.png" />
                </a>
                <a class="m-1" type="button">
                    <img src="assets/icons/twitter.png" />
                </a>
                <a class="m-1" type="button">
                    <img src="assets/icons/instagram.png" />
                </a>
                <a class="m-1" type="button">
                    <img src="assets/icons/youtube.png" />
                </a>
                <a class="m-1" type="button">
                    <img src="assets/icons/linkedin.png" />
                </a>
            </section>
        </article>
    </section>
    <section class="footer-copyright text-center py-3">© 2021 Copyright MAIA web BI. All Rights Reserved.
    </section>
</footer>
