.card-started {
    position: relative;
    width: 100%;   
    z-index: 11;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;    
}
.card-started .profile {
    padding: 120px 50px 50px 50px;
    position: relative;
    height: 100%;
    background: #ffffff;
    text-align: center;
    z-index: 10;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}
.card-started .profile .slide {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 210px;
    background-color: #626262;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
}
.card-started .profile .image {
    margin: 0 0 20px 0;
    position: relative;
    display: inline-block;
    width: 140px;
}
.card-started .profile .title {
    margin: 0 0 10px 0;
    font-size: 32px;
    color: #171717;
    line-height: 32px;
    font-weight: 400;
}
.card-started .profile .subtitle {
    color: #D4C216;
}
.card-started .profile .subtitle {
    margin: 0 0 15px 0;
    font-size: 14px;
    color: #D4C216;
    line-height: 14px;
    font-weight: 400;
}
.card-started .profile .image img {
    position: relative;
    display: block;
    width: 100%;
    height: 140px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
}
.card-started .profile .slide:before, .card-started .profile .slide:after {
    content: '';
    position: absolute;
    left: -25%;
    bottom: -198px;
    width: 700px;
    height: 200px;
    background: #ffffff;
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
}
.card-started .profile .slide:after {
    left: auto;
    right: -25%;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

/*CSS div derecho donde se muestra la informacion de quienes estan conectados*/
.card-inner {
    padding: 0;
    /*position: absolute;*/
    overflow: hidden;
    left: 95%;
    top: 15px;
    width: 100%;
    height: 359px;
    background: #ffffff;
    transform-origin: center left;
    opacity: 1;
    visibility: visible;
    z-index: 8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    transition: visibility 1s linear, opacity 0.5s linear;
    -moz-transition: visibility 1s linear, opacity 0.5s linear;
    -webkit-transition: visibility 1s linear, opacity 0.5s linear;
    -o-transition: visibility 1s linear, opacity 0.5s linear;
}
.card-inner:before, .card-inner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    height: 20px;
    background: #ffffff;
    z-index: 10;
}
.card-inner .card-wrap {
    padding: 30px 30px 30px 60px;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}
.content:last-child {
    margin-bottom: 0;
}
.content {
    margin: 0 0 60px 0;
    position: relative;
}
.title {
    margin: 0 0 15px 0;
    padding: 0 0 5px 0;
    position: relative;
    font-size: 17px;
    color: #171717;
    line-height: 21px;
    font-weight: bold;
}
.content .title:before {
    content: '';
    position: absolute;
    left: -12px;
    top: 0;
    width: 30px;
    height: 30px;
    background: -moz-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
    background: linear-gradient(135deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
    z-index: -1;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
}
.content .title:after {
    content: '';
    position: absolute;
    left: -60px;
    bottom: -15px;
    width: 95%;
    height: 1px;
    background: -moz-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}
.noadmin{
    width: 100%!important; 
    max-width: 100%!important;
    flex: 0 0 100%!important;
}
.border-line-v:before {
    content: '';
    position: absolute;
    left: -29px;
    top: 0;
    width: 1px;
    height: 100%;
    background: -moz-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}
@media only screen and (max-width: 768px) {
    .card-started {     
        overflow-x: hidden;
        overflow-y: visible;
        height: 32em;
    }
} 

.btnLock{
   width: 100%;
   color:white;
}

.content_message{
    padding: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.content_progress{
     padding: 10px;
     justify-content: center;
     align-content: center;
     text-align: center;
     color:grey;
}

.dialog-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.btn{
    color: white;
}

.state{
    color:igx-color(blue, 'secondary');
}