<div>
    <div class="card-started " id="home-card">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="profile">
            <div class="slide" style="background-image: url('https://beshley.com/vcard/images/bg.jpg');"></div>
            <div class="image">
              <img src="{{profile.image}}" alt="">
            </div>
            <div class="title">{{profile.firstName+" "+profile.secondName+" "+profile.firstLastName+" "+profile.secondLastName}}</div>
            <div class="subtitle">{{profile.position}}</div>
            <div class="subtitle">{{profile.dtoCompany}}</div>
            
          </div>
        </div>
      </div>
      <div class="slimScrollBar"
        style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 570px;">
      </div>
      <div class="slimScrollRail"
        style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
      </div>
    </div>
  </div>
  