<div class="barChart" *ngIf="barChartData.length > 0">
    <div class="chart" *ngIf="!responsive">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="true" [chartType]="barChartType" [style.height.%]="100">
      </canvas>
    </div>
  </div>