<div *ngIf="tabs.length > 0">
    <div [attr.role]="(isHandset$ | async) ?  isResponsive(true) : isResponsive(false)">
      <div *ngIf="responsive">
        <div class="content_list">
          <button #button igxButton="raised" (click)="toggle()" class="btn-navbar">
            <igx-icon fontSet="material">menu</igx-icon>
          </button>
          <div class="toggle-content" igxToggle>
            <section class="toggle-section">
              <ul class="label">
                <li *ngFor="let tab of tabs">
                  <span class="item_list_selected" (click)="activeTab(tab)">{{tab.label}}</span>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
      <div *ngIf="!responsive">
        <ul [ngClass]="classLabel">
          <li *ngFor="let tab of tabs" [ngClass]="tab.class" (click)="activeTab(tab)">
            {{tab.label}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngFor="let tab of tabs">
    <igx-card *ngIf="tab.active">
      <igx-card-content>
        <app-content-dashboard [tab]="tab"></app-content-dashboard>
      </igx-card-content>
    </igx-card>
</div>
