.content_tabs {
    max-width: 100%;
  }
  
  .label {
    padding: 10px;
  }
  
  .content_card {
    flex: 1;
    display: flex;
  }
  
  .container {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .item_dash {
    width: 154px;
    padding: 2px;
    margin: 1px;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  
  .item_selected {
    background: white;
    background-color: gainsboro;
    width: 154px;
    padding: 2px;
    margin: 1px;
    text-align: center;
    color: green;
    cursor: pointer;
  }
  
  .item_list_selected{
    width: 154px;
    padding: 2px;
    margin: 1px;
    text-align: center;
  }
  
  /*float layout*/
  .float {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .float-item {
    float: left;
  }
  
  
  /*inline-block*/
  .inline-b {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .inline-b-item {
    display: inline-block;
  }
  
  /*Flexbox*/
  .flex {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
  }
  
  .btn{
    margin:10px;
  }
  .content_list{
    display: flex;
    flex:1;
    flex-direction: row;
    align-content:flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .toggle-button {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .toggle-content {
    display: flex;
    width: 320px;
    height: auto;
  }
  
  .toggle-section {
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .btn-navbar{
    width: 100%;
    background-color: #2B456A;
    color: white;
  }