<div class="container">
    
  <div *ngIf="!progress">
    <div class="card" style="width: 18rem;">
          <div class="card-img-top">
              <img class="logo" src="{{urlLogoMobile}}" alt="">
          </div>
          <div class="card-body">
              <div>
                  <label for="username" class="inp">
                      <input autocapitalize="off" autocorrect="off" (keydown)="nextFocus($event)" type="text"
                          class="class-colorBlanco class-inputBlanco" name="username" [(ngModel)]="username"
                          placeholder="&nbsp;">
                      <span class="label">{{'login.user' | translate}}</span>
                      <span class="border"></span>
                  </label>
              </div>
              <div>
                  <label for="password" class="inp">
                      <input #passwordView autocapitalize="off" autocorrect="off" (keydown)="onKeydown($event)"
                          type="password" class="class-inputBlanco " name="password" [(ngModel)]="password"
                          placeholder="&nbsp;">
                      <span class="label">{{'login.password' | translate}}</span>
                      <span class="border"></span>
                  </label>
              </div>
              <button class="btn btn-primary" (click)="login()">{{'login.buttonIni' | translate}}</button>
          </div>
          <div class="class-action">
              <div class="div_bottom">
                  <span class="company">{{'login.company' | translate}}</span>
              </div>
          </div>

        </div>
  </div>
  <div *ngIf="progress">
      <app-spinner [tittle]="true"></app-spinner>
  </div>


  <igx-dialog title="{{'login.titleError' | translate}}" message="{{messageError}}" #alert>
      <div igxDialogActions>
          <button class="btn_ok" igxButton="raised" igxRipple="white"
              (click)="closeAlert()">{{'buttons.ok' | translate}}</button>
      </div>
  </igx-dialog>

</div>