
a {
    color: #731963;
    text-decoration: none;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .74);
  }
  
  h3 {
    font-size: 1.75rem;
    font-weight: 600;
  }
  
  .links{
    text-align: center;
    padding: 0 35px;
  }
  
  #linksContainer {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
  }
  
  :host{
    width: 100%;
    text-align:center;
  }
  
  .logo{
    width: 20%;
    margin: 20px;
  }

  .igx-input-group__border{
    background: white;
  } 

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%;
}  

.circular-container {
    height: 64px;
    width: 64px;
    color: white;
}
.class-card-login{ 
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: blue;
  color:white;
}


.img_loading{
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.text_progress{
  text-align: center;
  color: grey;
}

.header_card{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.img_card{
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
}

.icon{
  font-size: 80px;
  margin: 10px;
}

/*Custom columns and rows from infragestic*/
.article1{ 
  margin: 0px auto;
  text-align: center;
}
.article1 img{ 
  vertical-align: middle;
  padding-top: 50%;
}


.class-articleLogin{
  background-color: white;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 20;
}


.content_login {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.class-headerLogin{
    background-color: #2B456A;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #2B456A !important;
}
.inp{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  margin-bottom: 20px;
}


.label{
    position: absolute;
    top: 23px;
    left: 0;
    font-size: 16px;
    color: #2B456A;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
  }  
.border{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .15s ease ;
}  
.class-inputBlanco {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #2B456A;
    background: none;
    border-radius: 0;
    color: #2B456A;
    transition: all .15s ease;
  }    
 /*Custom Input Select css by Guille*/
 div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #2B456A;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 1em;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}


.cs-select{
  border: none;
  border-bottom: 1px solid white;
  color: white; 
  width: 100%;  
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding-top: 1.125rem;
  transition: box-shadow 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cs-select .cs-options{
  color: black;
}
.cs-select:focus{
  outline: none;
}

.val_company{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin:10px;
}

.content{
  display: flex;
  flex-direction: column;
}

.btn_ini{
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  background-color: #458AB6;
  color:white;
  margin-left: 20%;
  margin-right: 20%;
  width: 100%;
}


.company{
  font-size: 10px;
  text-align: center;
  color: #2B456A;
}

.div_bottom{
  padding-top: 20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.btn_ok{
  width: 100%;
  background-color: #2B456A;
  color: white;
}

.dialog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}


.dialog-title {
  color:red;
}

@media only screen and (max-width: 768px) {
  .article1 img{ 
    vertical-align: middle;
    padding-top: 0%;
  }
  .class-cuerpoLogin{
     padding:20px;
  }
} 

.igx-input-group__bundle {
  box-shadow: inset 0 -1px 0 0 rgb(255, 255, 255) !important;
}

.igx-input-group__bundle:hover {
  box-shadow: inset 0 -1px 0 0 rgb(255, 255, 255) !important;
}

.class-action{
  display: flex;
  flex-direction: column;
}