<div [ngClass]="classContent" [attr.role]="(isHandset$ | async) ?  isResponsive(true) : isResponsive(false)" class="container-fluid px-0">

    <div igxFlex igxLayout igxLayoutDir="columns" class="contenedor-menu">
        <igx-navbar *ngIf="activeMenu">
            <div [hidden]="false" id="brand" class="navDiv">
                <img class="logo-desktop" width="50" src="{{urlLogo}}" />
                <img class="logo-mobile" width="200" src="{{urlMobile}}" />
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="itemsTopMenu">
                        <igx-icon class="icons" (click)="openDashboard()">home</igx-icon>
                        <igx-icon class="icons" (click)="logout()">exit_to_app</igx-icon>
                    </div>
                    <ul id="id_menuPropiedadesUsuario" class="profile" (click)="openProfile()">
                        <li> <img src="{{urlProfile}}" alt=""> </li>
                        <li *ngIf="profile" class="profile">
                            <h4 class="class-spanNombre colorBlanco">{{profile.firstName+" "+profile.secondName}}</h4>
                            <h4 class="class-spanNombre colorBlanco">
                                {{profile.firstLastName+" "+profile.secondLastName}}</h4>
                            <h4 class="class-spanCargo colorBlanco">{{profile.position}}</h4>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 topMenuMobile" style="text-align: right;">
                    <igx-icon class="icons" (click)="openDashboard()">home</igx-icon>
                    <igx-icon class="icons" (click)="logout()">exit_to_app</igx-icon>
                </div>
            </div>

        </igx-navbar>

        <igx-navbar class="class-nav-horizontalMenu" *ngIf="!activeMenu" [isActionButtonVisible]="true">
            <div [hidden]="false" id="brand" style="position: absolute;left: 0;">
                <img class="logo-desktop" width="50" src="{{urlLogo}}" />
                <img class="logo-mobile" width="200" src="{{urlMobile}}" />
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="itemsTopMenu">
                        <igx-icon (click)="openDashboard()" class="icons">home</igx-icon>
                        <igx-icon class="icons" (click)="logout()">exit_to_app</igx-icon>
                    </div>
                    <ul id="id_menuPropiedadesUsuario" class="profile" (click)="openProfile()">
                        <li> <img src="{{urlProfile}}" alt=""> </li>
                        <li *ngIf="profile" class="profile">
                            <h4 class="class-spanNombre colorBlanco">{{profile.firstName+" "+profile.secondName}}</h4>
                            <h4 class="class-spanNombre colorBlanco">
                                {{profile.firstLastName+" "+profile.secondLastName}}</h4>
                            <h4 class="class-spanCargo colorBlanco">{{profile.position}}</h4>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 topMenuMobile" style="text-align: right;">
                    <igx-icon class="icons" (click)="openDashboard()">home</igx-icon>
                    <igx-icon class="icons" (click)="logout()">exit_to_app</igx-icon>
                </div>
            </div>
        </igx-navbar>


        <div class="content" igxFlex>
            <router-outlet></router-outlet>
            <div *ngIf="!activeMenu">
                <div>
                    <nav role="navigation">
                        <ul class="class-ul-submenu my-0">
                            <div *ngFor="let item of items" class="array">
                                <li class="father">
                                    <div class="content_father" [class.activeTab]="item.active == true ">
                                        {{ item.name | translate }}
                                    </div>
                                    <div class="space_div">
                                <li>
                                    <ul *ngIf="item.active" class="son">
                                        <div *ngFor="let subMenu of item.sons">
                                            <li *ngIf="subMenu.sons.length > 0" class="class-menuSon">
                                                <span class="subMenuTab">{{ subMenu.name | translate }}</span>
                                                <ul class="dropdown">
                                                    <li *ngFor="let son of subMenu.sons"
                                                        (click)="onOpenTabDom(son.name,son.id,item.name,subMenu.name)">
                                                        <span>{{ son.name | translate }}</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </div>
                            </li>
                </div>
                </ul>
                </nav>
            </div>
        </div>
    </div>
    <div *ngIf="!activeMenu" class="bottomMenuTab"></div>

    <!--Aqui cargar el contenido de las Tabs para ambos menus Vertical o horizontal-->
    <app-tabs style="bottom: 2px;position: relative;">
        <app-tab></app-tab>
        <ul class="nav nav-tabs tabsClass">
            <!-- dynamic tabs -->
            <li class="tabDinamic-class" *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)"
                [class.activeTabContent]="tab.active">
                <a *ngIf="tab.active">
                    <p class="title">{{ tab.title | translate }} </p>
                </a>
                <a *ngIf="!tab.active">
                    <p class="title nameSon">{{ tab.title | translate }} </p>
                </a>
            </li>
        </ul>
        <ng-template dynamic-tabs #container></ng-template>
    </app-tabs>

</div>

<igx-dialog #dialogProfile [closeOnOutsideSelect]="false" *ngIf="profile">
    <app-perfil [profile]="profile"></app-perfil>
    <div igxDialogActions>
        <button class="btn_dialog" igxButton="raised" igxRipple="white"
            (click)="dialogProfile.close()">{{'buttons.close' | translate}}</button>
    </div>
</igx-dialog>


<igx-dialog #dialogError title="{{'login.titleError'| translate}}" message="{{msgError}}">
    <div igxDialogActions>
        <button class="buttons" igxButton="raised" igxRipple="white"
            (click)="closeError()">{{'buttons.ok' | translate}}</button>
    </div>
</igx-dialog>


<igx-dialog message="{{'msgCloseSession' | translate}}" title="{{'confirmation' | translate}}" #dialogLogout>
    <div igxDialogActions>
        <button class="buttons" igxButton="raised" igxRipple="white"
            (click)="dialogLogout.close()">{{'buttons.cancel' | translate}}</button>
        <button class="buttons" igxButton="raised" igxRipple="white"
            (click)="closeSession()">{{'buttons.ok' | translate}}</button>
    </div>
</igx-dialog>

<ng-template #dashboard let-formulario="data">
    <div class="content-principal-tabContent">
        <div *ngIf="!errorGroups">
            <div *ngIf="!loadDashboard">
                <app-predashboard [groupsDashboard]="groupsDashboard" [indicatorsDashboard]="indicatorsDashboard"
                    [typeGraphicsDashboard]="typeGraphicsDashboard" [responsiveFather]="responsive"></app-predashboard>
            </div>
            <div *ngIf="loadDashboard" class="progressDashboard">
                <app-spinner [tittle]="true"></app-spinner>
            </div>
        </div>
        <div *ngIf="errorGroups">
            <h3 class="errorGroups">{{'login.titleError'| translate}}</h3>
            <div class="repeatCall">
                 <span><igx-icon class="iconReload" (click)="reloadGroups()">cached</igx-icon> </span>
                 <span>{{'reload'| translate}}</span>
            </div>
        </div>
    </div>
</ng-template>

</div>