
:host {
  margin: 0px !important;
}

.content-wrap {
  display: flex;
  flex: 1;
  flex-direction: row;
}


.class-spanDepartamento,
.class-spanNombre {
  font-weight: bold;
}

.father {
  color: white;
}

.content_father{
  padding: 0px 12px;
}

.space_div{
  position: absolute;
  left: 0;
}

.son {
  /* padding-left: 20px;
    padding-right: 20px;*/
  position: relative;
  z-index: 8;
}

.array{
  display: inline-block;
}


.class-submenuhijo {
  border: 1px solid;
  background: white;
}

nav .dropdown {
  display: block;
  float: left;
  /*padding: 1rem;*/
  position: absolute;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav .dropdown li:hover {
  background: #B2E1FF;
  cursor: pointer;
}


nav .dropdown li {
  clear: both;
  width: 100%;
  color: #404040;
  padding: 0px 10px;
}

.dropdown {
  text-align: center;
  background: white;
  visibility: hidden;
  opacity: 0;
  min-width: 8rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}


nav .class-menuSon:hover>.dropdown,
nav .class-menuhijo:focus-within>.dropdown,
/* this is the line we add */
nav .dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-left: 10px;
}


/*Custom Input Select css*/
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */
}

.cs-select select {
  display: none;
}

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select>span {
  padding-right: 3em;
}

.cs-select>span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cs-select>span::after {
  content: '\25BE';
  right: 1em;
}

.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em;
}

.cs-select.cs-active>span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
  z-index: 200;
}

/* Options */
.cs-select {
  padding-left: 14px;
  width: 50%;
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  transition: box-shadow 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cs-select .cs-options {
  color: black;
}

.cs-select:focus {
  outline: none;
}

/*CSS menu bootstrap*/
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 92.2%;
}

#sidebar {
  width: 100%;
  background: white;
  color: #404040;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 1px 0;
  border-bottom: 1px solid rgba(71, 116, 139, 0.24);
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
  background: #373838;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #373838;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6B6B6B;
  color: white !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6B6B6B !important;
  color: #fff !important;
}

.class-subhijos {
  cursor: pointer;
  padding-left: 48px;
  font-size: 0.9em !important;
}

.class-subhijos:hover {
  background-color: #404040;
  color: white;
}

.sidebar-padre {
  color: #404040;
}

.iconos-clase {
  font-size: 14px;
  position: relative;
  top: 3px;
}

.singleitemMenuSidebar {
  padding: 10px;
  display: block;
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6B6B6B;
  color: white !important;
}

.singleitemMenuSidebar:hover {
  background-color: #404040;
  color: white;
}

/*Propiedades de los temas de ignite ui*/
.addProdBtn {
  margin-bottom: 5px;
}

.dialogNewRecord {
  margin: 10px;
  padding: 10px;
}

.igx-input-group {
  margin-bottom: 10px;
  padding: 5px;
}


.drop-down-button {
  width: 100%;
  background: blue;
  color: white;
}


.snackbar_wrapper {
  position: absolute;
  justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*$chooser-size: 22px;*/

.inputDesblock::placeholder {
  color: #404040 !important;
}

.class-nav-horizontalMenu {
  border-bottom: 0;
}

.buttons {
  color: white;
  margin-bottom: 10px;
}

.dialog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.icons {
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.select {
  width: 100%;
}

.breadCums {
  font-size: 13px;
  font-weight: bold;
}

.display {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 13px;
  text-align: center;
}

.bottomMenuTab {
  width: 100%;
  padding: 20px;
}

.subMenuTab {
  font-size: 13px;
  display: flex;
  padding: 10px;
  align-items: center;
  align-content: center;
}

.profile{
  cursor: pointer;
}

.btn_dialog{
  color:white;
}


#id_menuPropiedadesUsuario {
  margin-left: 36px;
  margin-top: 20px;
}

#id_menuPropiedadesUsuario li {
  display: inline-block;
}

#id_menuPropiedadesUsuario li img {
  width: 40px;
  height: 49px;
  margin-right: 15px;
  vertical-align: 0;
}

#id_menuPropiedadesUsuario li h4 {
  font-size: 13px;
  line-height: 1rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.navDiv{
  position: absolute;
  left: 62px;
}

.displayMobile{
  display: block;
}

.progressDashboard{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  text-align: center;
}

.errorGroups{
  padding-top: 30px;
  color:grey;
  text-align: center;
}

.repeatCall{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.iconReload{
  cursor: pointer;
  font-size: 36px;
  color:grey;
}

.buttons{
  width: 100%;
  background-color: #2B456A;
  color: white;
}



