<ul class="nav nav-tabs"> 
    <!-- dynamic tabs -->
    <li *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)" [class.active]="tab.active">
      <a >{{tab.title | translate}}</a>
    </li>
</ul>
  <ng-content></ng-content>
