<div class="barChart" [attr.role]="(isHandset$ | async) ?  isResponsive(true) : isResponsive(false)" *ngIf="barChartData.length > 0">
    <div class="chart" *ngIf="!responsive">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="false" [chartType]="barChartType" [style.height.%]="100">
      </canvas>
    </div>
    <div class="barChartResponsive" *ngIf="responsive">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="false" [chartType]="barChartType" >
      </canvas>
    </div>
  </div>
