.igx-navbar {
    background: #2B456A !important;
    color: white;
  }

  .igx-navbar__left igx-icon,
  .igx-navbar__right igx-icon {
    color: white;
  }

  /*=============== SUB NAVBAR TOP ===================*/
  .class-ul-submenu {
    background: #2B456A;
  }

  /*=============== BOTTOM NAVBAR TOP ===================*/
  .bottomMenuTab {
    background: #458AB6;
  }

  .activeTab {
    background: #458AB6;
  }

  .activeTabContent {
    background: #458AB6;
  }

  .content_tabs {
    border: 1px solid #458AB6;
  }

  .igx-tabs__header-menu-item--selected {
    color: #458AB6;
  }

  .igx-tabs__header-menu-item-indicator {
    background: #458AB6;
  }

  /*=============== BUTTONS ===================*/
  .btnDisconectUser,
  .btncustom,
  .btnEditPersonalizador {
    background: #458AB6;
  }

  /*=============== GRIDS ===================*/

  .column_header {
    background: #458AB6;
  }

  .toolsGrid {
    background: #458AB6;
  }

  .flex1 {
    border: 1px solid #458AB6;
  }

  .flex2 {
    border: 1px solid #458AB6;
  }

  .flex3 {
    border: 1px solid #458AB6;
  }

  .flex4 {
    border: 1px solid #458AB6;
  }

  .flex5 {
    border: 1px solid #458AB6;
  }

  .flex6 {
    border: 1px solid #458AB6;
  }

  .igx-chip__item,
  .igx-chip__item .igx-chip__content {
    color: #404040;
    background: rgb(92, 163, 207);
  }

  .igx-grid-toolbar {
    background: rgb(92, 163, 207);
  }

  .igx-grid__th-title {
    color: #458AB6;
  }

  .igx-grid-toolbar__button-space {
    color: white;
  }

  .igx-chip__item .igx-chip__content {
    color: white;
  }

  .igx-grid-toolbar .igx-icon {
    color: white;
  }

  .igx-grid-paginator {
    background: rgb(92, 163, 207);
    color: white;
  }

  .igx-grid-paginator .igx-icon {
    color: white;
  }

  .igx-input-group {
    border-color: rgb(92, 163, 207);
  }

  /*=============== Labels ===================*/
  .label-default {
    background-color: #458AB6;
  }

  .label-default2 {
    background-color: #2B456A;
  }

  .igx-button--raised {
    background-color: #2B456A;
    color: white;
  }

  .igx-button--flat {
    background-color: #2B456A;
    color: white;
  }

  .breadCums {
    color: #2B456A;
  }

  .nameSon {
    color: #2B456A;
  }

  .dropdown {
    border: 1px solid #2B456A;
  }

  .item_dash {
    background: #458AB6;
  }

  .item_selected {
    color: #458AB6;
  }
  
.offset .igx-input-group__bundle{
    height: 2.25rem;
}
.igx-button--flat{
    color:#404040!important;
}
.igx-chip__item .igx-icon {
    color: white;
}
.igx-chip__content {
    color: white;
}
.colorBlanco{
    color: white!important;
}

.content{
flex: initial!important;
}
/*Menu Horizontal*/
.class-nav-horizontalMenu{
    border-bottom: 2px solid white;
    background-color: blue;
}
.class-ul-submenu{
    background:#373838;
}
.padre{
    margin-left: 10px;
    font-size: 13px;
}
.hijo li{
    color: white;
}
/*Si la tab esta activa cambiarle el color*/
 /*--Tabs menu hijos*/

 /*Tabs del contenido*/
 .activeTabContent{   
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
 }
/*Span X para cerrar tab*/
.cerrarTab{
    cursor: pointer;
    position: absolute;
    /* position: relative; */
    right: 4px;
    top: 7px;
    margin-left: 7px;
    height: 15px;
    width: 16px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    padding-bottom: 16px;
    padding-right: 2px;
    display: none;
    
}
.tabDinamic-class{    
    width: 154px;
}
.tabDinamic-class a {
    padding: 5px 15px!important;
}
.tabsClass li:hover .cerrarTab{
    display: inline-block; 
    /*display: none;*/
}

/*Panel del contenido de las  Tabs*/
.content-principal-tabContent{
    margin: 17px;
}
/*Row de botones CRUD Tablas */
.layout-box__el{
    display: inline-block;
}

/*Botones material icon del CRUD*/
.class-btnCrud{
    color: #6B6B6B!important;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px!important;
}
/*Botones del dialog*/
.igx-dialog__window-actions{
    position: relative;
    z-index: 99999;
}
#project-menu aside{
    height: 39rem;
}

/*Cambiar logo segun vista desktop o mobile*/
@media only screen and (max-width: 768px) {

  /*Mobile*/
  .logo-desktop {
    margin-left: 5px;
    display: none;
  }

  .logo-mobile {
    width: 35px !important;
    display: block;
  }

  #brand {
    left: 43px !important;
  }

  .centrarTool {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {

  /*Desktop*/
  .logo-desktop {
    margin-left: 5px;
    display: block;
  }

  .logo-mobile {
    display: none;
  }

  .centrarTool {
    text-align: left;
  }
}

.contenedor-menu{
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #id_menuPropiedadesUsuario img, .profile, .class-spanCargo,.itemsTopMenu,.class-spanDepartamento{
      display: none;
  }
  .profile{
      text-align: right;
  }
  #brand img{
      width: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .topMenuMobile{
      display: none;
  }
  .itemsTopMenu,#id_menuPropiedadesUsuario{
      display: inline-block;
  }
  .itemsTopMenu{
      position: relative;
      bottom: 10px;
  }
  
}

@media only screen and (max-width: 768px) {

/*Mobile*/
.igx-navbar__left {
  flex:1;
}
}

@media only screen and (max-width: 768px) {
.tabDinamic-class {
  display: inline-block !important;
  float: none !important;
}
}
