/* You can add global styles to this file, and also import other style files */


/*$primary: #373838 !default;
$secondary: #22B8EE !default;*/


html,
body {
  height: 100%;
}



.content p {
  margin: 15px;
}

/*Input custom*/
.class-colorBlanco {
  color: white;
}

.class-inputBlanco {
  border-bottom: 1px solid white;
}

.waitCursor {
  cursor: wait !important;
}

/*Custom styles for Tabs menu*/
.nav-tabs {
  border-bottom: 1px solid #ddd;
  display: table;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav>li {
  position: relative;
  display: block;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs>li>a {
  cursor: pointer;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.class-ul-submenu li {
  cursor: pointer;
}

.igx-category-chart{
  height: 100%;
}


.igx-overlay__wrapper--modal {
  z-index: 9 !important;
}

.borrarelemento {
  background: gray;
  padding: 0px 8px;
  position: absolute;
  color: white;
  right: 41px;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
  opacity: 0.4;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 0.4;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.274);
  opacity: 0.4;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;

}

@-webkit-keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }

  100% {
    background: #f6e7ec;
  }
}

@keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }

  100% {
    background: #f6e7ec;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.headerAlignSyle {
  text-align: right !important;
}

igx-grid-cell {
  min-height: 35px !important;
}

igx-grid-header {
  height: 35px !important;
}

igx-grid-header span {
  line-height: 2.166667 !important;
}


.igx-card {
  flex-direction: column;
}


