<div [attr.role]="(isHandset$ | async) ?  isResponsive(true) : isResponsive(false)">
    <div *ngIf="!responsive">
      <div class="chart" *ngIf="pieChartData.length > 0">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="true" [style.height.%]="height">
        </canvas>
      </div>
    </div>
    <div *ngIf="responsive">
      <div class="chartResponsie" *ngIf="pieChartData.length > 0">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="false" >
        </canvas>
      </div>
    </div>
</div>